* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
  display: flex;
  justify-content: center;
}

.box {
  width: 874px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
}

.nav-list {
  list-style: none;
  line-height: 70px;
  font-size: 16px;
  color: #FAFAFA
}
.heading {
  justify-content: flex-start;
}
.nav-item {
  display: inline-block;
  margin: 0 30px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
}

.main-visual-content {
  text-align: center;
}

.main-visual-text {
  font-size: 64px;
  color: #FAFAFA;
  padding-top: 200px;
  padding-bottom: 10px;
}

.main-visual-sabu {
  font-size: 20px;
  color: #FAFAFA;
}

.Portfolio {
  background-color: #ECEFF1;

}

.Portfolio-content {
  text-align: center;
  width: 920px;
  margin: 0 auto;
}

.Portfolio-title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 8px;
  display: inline-block;
  border-bottom: 3px solid #EC715F;

}

.Portfolio-text {
  padding: 30px 0;
}

.item {
  width: 920px;
  background-color: #ECEFF1;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 90px;
}

.item-sketch {
  background-image: url(img/sketch.jpg);
  width: 300px;
  height: 250px;
  background-size: cover;
}

.item-websuku {
  background-image: url(img/websuku.png);
  width: 300px;
  height: 250px;
  margin: 0 10px 10px 10px;
  background-size: cover;
  background-position: center;
}

.item-write {
  background-image: url(img/write.jpg);
  width: 300px;
  height: 250px;
  background-size: cover;
}

.item-webcamp {
  background-image: url(img/webcamp.png);
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.item-talk {
  background-image: url(img/talk.jpg);
  width: 300px;
  height: 250px;
  margin: 0 10px;
  background-size: cover;
}

.item-mother {
  background-image: url(img/webcamp-mother.png);
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.Feature {
  width: 980px;
  margin: 0 auto;
}

.Feature-content {
  text-align: center;
}

.Feature-title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 8px;
  display: inline-block;
  border-bottom: 3px solid #EC715F;
}

.Feature-text {
  padding: 30px 0;
}

.Feature-category {
  display: flex;
  width: 980px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.category {
  width: 320px;
  height: auto;
  text-align: center;
}

.category2 {
  margin: 0 10px;
  width: 320px;
  height: auto;
  text-align: center;
}

.category-title {
  font-size: 20px;
  color: #000000;
  margin: 10px 0;
}

.Profile {
  background-color: #ECEFF1;
}

.Profile-category {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.Profile-title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 8px;
  display: inline-block;
  border-bottom: 3px solid #EC715F;

}

.Profile-text {
  text-align: center;
  padding: 30px 0;
}

.Profile-image {
  width: 512px;
}

.img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 150px;
}

.my-box {
  display: flex;
  margin: 0 auto;
  width: 1024px;
  padding-bottom: 90px;
}

.myname {
  width: 512px;
}

.myname-title {
  font-size: 20px;
  padding-bottom: 5px;
}

.myname-text {
  font-size: 16px;
  color: #000000;
  padding-bottom: 20px;
}

.skills-title {
  font-size: 20px;
  padding-bottom: 5px;
}

.skills-text {
  font-size: 16px;
  color: #000000;
}

.contact {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 90px;
}

.contact-category {

  text-align: center;
}

.contact-title {
  font-size: 32px;
  color: #000000;
  padding-top: 90px;
  padding-bottom: 8px;
  display: inline-block;
  border-bottom: 3px solid #EC715F;
}

.contact-text {
  text-align: center;
  padding: 30px 0;
}

.contact-box {
  display: flex;

}

.mall-box {
  width: 400px;
  text-align: center;
}

.mall {
  font-size: 20px;
  padding-bottom: 5px;
}

.tel {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.sns-box {
  width: 400px;
  justify-content: center;
}

.sns {
  font-size: 20px;
  padding-bottom: 5px;
}

.sns-icon2 {
  padding: 0 20px;
}

.icon-box {
  display: flex;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #EC715F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot-text {
  font-size: 16px;
  color: #FAFAFA;

}